<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Landing Page!</h1>
    <p>The user will first see the the sign in page before they can see the home page.</p>

    <!-- Sign in Form -->
    <form ID="myForm" action="/landing_page" method="POST">
        <div>
            <label>Username</label>
            <!-- Placeholder is a predefined value but disappears when user clicks in square -->
            <input type="text" name="username" placeholder="Enter Username" required>
        </div>
        <br>
        <div>
            <label>Password</label>
            <!-- Placeholder is a predefined value but disappears when user clicks in square -->
            <input type="password" name="passwd" placeholder="Enter Password" required>
        </div>
        <br>
        <!-- VERIFY PASSWORD (work on later)
        <div>
            <label>Confirm Password</label> -->
            <!-- Placeholder is a predefined value but disappears when user clicks in square -->
            <!-- <input type="password" name="confirmPassword" placeholder="Confirm Password">
        </div>
        -->
        <div>
            <label>First Name</label>
            <!-- Placeholder is a predefined value but disappears when user clicks in square -->
            <input type="text" name="firstName" placeholder="Enter First Name" required>
        </div>
        <br>
        <div>
            <label>Last Name</label>
            <!-- Placeholder is a predefined value but disappears when user clicks in square -->
            <input type="text" name="lastName" placeholder="Enter Last Name" required>
        </div>
        <br>
        <div>
            <!-- Using email for the type attribute verifies that the input is an email on HTML 5 -->
            <label>Email</label>
            <input type="text" placeholder="Enter Email Address" name="email_address" required>
        </div>
        <br>
        <div>
            <label>Gender</label>
            <select name="gender" required>
                <option value="male">Male</option>
                <option value="female" selected>Female</option>
                <option value="other">Other</option>
            </select>
        </div>
        <br>
        <div>
            <label>Age</label>
            <!-- Added a predefined value to the input -->
            <input type="number" placeholder="Enter Age" name="age" value="16">
        </div>

        <br>
        <input type="Submit" name="Submit" value="Sign Up">
    </form>
<br>
    <a href="/signin">Already have an account? Sign In</a>  <!-- make sign in page -->

    <p><a href="/home">Go Home</a></p>

<!-- DELETE LATER - just to see if the database works -->
{% for usr in users %}
    <p>
        <span>{{usr.userid}}</span> &nbsp;
        <span>{{usr.username}}</span> &nbsp;
        <span>{{usr.passwd}}</span> &nbsp;
        <span>{{usr.firstname}}</span> &nbsp;
        <span>{{usr.lastname}}</span> &nbsp;
    </p>
{% endfor %}
</body>
</html>