<!DOCTYPE html>
<html>
<head>
    <title>login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container">
    <h1>Please login</h1>
    <br>
    <form action="/signin" method="POST">
        <input type="text" placeholder="Username" name="username" >
        <input type="password" placeholder="Password" name="password">
        <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
</div>
</body>
</html>