<!DOCTYPE html>
<html lang="en">
<head>
    <div class="topnav">
        <a class="active" href="home">Home</a>
        <a href="favorites">My Favorites</a>
        <a href="all_galleries">All Galleries</a>
        <a href="botany">Botany</a>
        <a href="history">History</a>
        <a href="music">Music</a>
        <a href="photography">Photography</a>
        <a href="planetarium">Planetarium</a>
        <a href="gift_shop">Gift Shop</a>
        <a href="about_us">About Us</a>

    </div>

</nav>
</head>
</html>